<li>
  <img src="<%= oneBook.image_url %>" alt="<% oneBook.title %>"/>
  <h3><%= oneBook.title %></h3>
  <h4><%= oneBook.author %></h4>
  <p><%= oneBook.description %></p>
  <p><%= oneBook.isbn %></p>
</li>
         