<li>
  <img src="<%= oneBook.image_url %>" alt="<% oneBook.title %>"/>
  <h3 class="preState"><%= oneBook.title %></h3>
  <h4 class="preState"><%= oneBook.author %></h4>
  <p class="preState"><%= oneBook.description %></p>
  <p id="isbn" class="preState"><%= oneBook.isbn %></p>
  <button id="showForm">Edit Details</button> 
  <form class="preState" action="/books/<%= oneBook.id %>?_method=DELETE" method="post">
    <button>Delete Book</button>
  </form>
  <%- include('./edit.ejs') %>
</li>
         