<%- include('../../layout/head.ejs') %>

  <body>
    <header>
      <div>Best Books!</div>
      <div>Search Results</div>
    </header>
    <main>
        <ul>
          <% books.forEach(book => { %>
            <li>
              <img src="<%= book.image.thumbnail %>" alt="<% book.image.title %>"/>
              <h3><%= book.title %></h3>
              <h4><%= book.author %></h4>
              <p><%= book.description %></p>
            </li>
          <% }) %>
        </ul>
    </main>
    <footer></footer>
  </body>
</html>

